html {
  font-size: 62.5%;
}

:root {
  --bg-color: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --headings: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  background: var(--bg-color);
  color: white;
  font-size: 1.5rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.text--purple {
  color: var(--accent-color);
}
.card {
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 5rem 2rem;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.card__header {
  background: url("img/image-header-mobile.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.card__overlay {
  background: hsla(277, 64%, 61%, 0.8);
  height: 100%;
  mix-blend-mode: multiply;
}

.card__content {
  width: 90%;
  padding: 1rem 2rem;
}

.card__content p {
  color: var(--paragraph);
  font-weight: 400;
  align-self: center;
  line-height: 3.5rem;
  padding: 0 0.75rem;
  margin-bottom: 3rem;
}

.card_content_stats {
  display: flex;
  flex-direction: column;
}

.card_content_stats h2 {
  margin-bottom: 1rem;
}

.card_content_stats h3 {
  color: var(--stat-headings);
  margin-top: 0;
  font-weight: 400;
  font-size: 1.35rem;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .card {
    flex-direction: row;
    text-align: left;
    width: 70%;
    overflow: hidden;
  }

  .card__content {
    padding: 3rem 7rem;
    margin-top: 2rem;
  }

  .card__content p {
    padding: 0;
    margin-bottom: 7rem;
    margin-top: 3rem;
  }
  .card__header {
    background: url("img/image-header-desktop.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    order: 2;
  }

  .card_content_stats {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
